/* html font  */
html body {
    font-family: "微软雅黑", "宋体",arial,tahoma,sans-serif;
}
/* margin5 */
.margin5-t {
    margin-top: 5px;
}

.margin5-b {
    margin-bottom: 5px;
}

.margin5-l {
    margin-left: 5px;
}

.margin5-r {
    margin-right: 5px;
}

/* margin10 */
.margin10-t {
    margin-top: 10px;
}

.margin10-b {
    margin-bottom: 10px;
}

.margin10-l {
    margin-left: 10px;
}

.margin10-r {
    margin-right: 10px;
}

/* margin20 */
.margin20-t {
    margin-top: 20px;
}

.margin20-b {
    margin-bottom: 20px;
}

.margin20-l {
    margin-left: 20px;
}

.margin20-r {
    margin-right: 20px;
}

/* margin30 */
.margin30-t {
    margin-top: 30px;
}

.margin30-b {
    margin-bottom: 30px;
}

.margin30-l {
    margin-left: 30px;
}

.margin30-r {
    margin-right: 30px;
}

/* margin40 */
.margin40-t {
    margin-top: 40px;
}

.margin40-b {
    margin-bottom: 40px;
}

.margin40-l {
    margin-left: 40px;
}

.margin40-r {
    margin-right: 40px;
}

/* margin80 */
.margin50-t {
    margin-top: 50px;
}

.margin50-b {
    margin-bottom: 50px;
}

.margin50-l {
    margin-left: 50px;
}

.margin50-r {
    margin-right: 50px;
}

/* margin60 */
.margin60-t {
    margin-top: 60px;
}

.margin60-b {
    margin-bottom: 60px;
}

.margin60-l {
    margin-left: 60px;
}

.margin60-r {
    margin-right: 60px;
}

/* margin80 */
.margin80-t {
    margin-top: 80px;
}

.margin80-b {
    margin-bottom: 80px;
}

.margin80-l {
    margin-left: 80px;
}

.margin80-r {
    margin-right: 80px;
}

/* margin100 */
.margin100-t {
    margin-top: 100px;
}

.margin100-b {
    margin-bottom: 100px;
}

.margin100-l {
    margin-left: 100px;
}

.margin100-r {
    margin-right: 100px;
}

/* padding5 */
.padding5-t {
    padding-top: 5px;
}

.padding5-b {
    padding-bottom: 5px;
}

.padding5-l {
    padding-left: 5px;
}

.padding5-r {
    padding-right: 5px;
}

/* padding10 */
.padding10-t {
    padding-top: 10px;
}

.padding10-b {
    padding-bottom: 10px;
}

.padding10-l {
    padding-left: 10px;
}

.padding10-r {
    padding-right: 10px;
}

/* padding20 */
.padding20-t {
    padding-top: 20px;
}

.padding20-b {
    padding-bottom: 20px;
}

.padding20-l {
    padding-left: 20px;
}

.padding20-r {
    padding-right: 20px;
}

/* padding30 */
.padding30-t {
    padding-top: 30px;
}

.padding30-b {
    padding-bottom: 30px;
}

.padding30-l {
    padding-left: 30px;
}

.padding30-r {
    padding-right: 30px;
}

/* padding40 */
.padding40-t {
    padding-top: 40px;
}

.padding40-b {
    padding-bottom: 40px;
}

.padding40-l {
    padding-left: 40px;
}

.padding40-r {
    padding-right: 40px;
}

/* padding80 */
.padding50-t {
    padding-top: 50px;
}

.padding50-b {
    padding-bottom: 50px;
}

.padding50-l {
    padding-left: 50px;
}

.padding50-r {
    padding-right: 50px;
}

/* padding60 */
.padding60-t {
    padding-top: 60px;
}

.padding60-b {
    padding-bottom: 60px;
}

.padding60-l {
    padding-left: 60px;
}

.padding60-r {
    padding-right: 60px;
}

/* padding80 */
.padding80-t {
    padding-top: 80px;
}

.padding80-b {
    padding-bottom: 80px;
}

.padding80-l {
    padding-left: 80px;
}

.padding80-r {
    padding-right: 80px;
}

/* padding100 */
.padding100-t {
    padding-top: 100px;
}

.padding100-b {
    padding-bottom: 100px;
}

.padding100-l {
    padding-left: 100px;
}

.padding100-r {
    padding-right: 100px;
}

/* font */
.font-xxlarge {
    font-size: 48px;
}

.font-xlarge {
    font-size: 36px;
}

.font-large {
    font-size: 24px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

/* a */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* border */
.bordered-t {
    border-top: 1px solid #d8d8d8;
}

.bordered-b {
    border-bottom: 1px solid #d8d8d8;
}

.bordered-l {
    border-left: 1px solid #d8d8d8;
}

.bordered-r {
    border-right: 1px solid #d8d8d8;
}

.bordered-t-d {
    border-top: 1px solid #c6c6c6;
}

.bordered-b-d {
    border-bottom: 1px solid #c6c6c6;
}

.bordered-l-d {
    border-left: 1px solid #c6c6c6;
}

.bordered-r-d {
    border-right: 1px solid #c6c6c6;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
    padding: 15px 0;
}

footer ul.menu>li {
    float: left;
    list-style: none;
    padding-left: 10px;
}


/* background */
.bg-whitesmoke {
    background: #f8f8f8;
}

.bg-smoke {
    background: #f2f2f2;
}
